* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	font-size: 'lato', sans-serif;
}

.container {
	height: 550px;
	width: 450px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
.header {
	color: #fff;
	background-color: #262626;
	border: solid 2px #fff;
	border-radius: 5px;
	padding: 5px;
	font-size: 1.2rem;
	width: 80%;
	margin: 20px auto;
}

.main-content {
}
